.popup {
  width: 720px;
  height: 718px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox {
  width: 107px;
  height: 102px;
  background: url(../../images/icon-check.svg);
  background-repeat: no-repeat;
  padding-top: 10px;
  padding-bottom: 8px;
}
