.grid {
  padding-top: 40px;
  width: 1240px;
  margin: auto;
  display: grid;
  grid-template-columns: 320px 1fr;
  column-gap: 60px;
  align-items: start;
}

.menu {
  display: grid;
  grid-template-rows: repeat(3, 64px);
  padding-top: 80px;
}

.info {
  color: #8585ad;
}

.link {
  color: #8585ad;
  text-decoration: none;
}

.active {
  color: #f2f2f3;
}
