.scroll {
  width: 608px;
}

.scroll {
  height: 650px;
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
  width: 8px;
  background: #2f2f37;
}

.scroll::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #8585ad;
}

.link {
  text-decoration: none;
  color: white;
}
