.section {
  width: 600px;
  margin: 0;
  background: #131316;
}

.tab {
  display: flex;
}

.table {
  display: grid;
  grid-template-columns: 272px 272px;
  column-gap: 24px;
  justify-items: center;
}

.cell {
  text-align: center;
  position: relative;
}

.price {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.scroll {
  height: 650px;
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
  width: 8px;
  background: #2f2f37;
}

.scroll::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #8585ad;
}

.link {
  text-decoration: none;
  color: #f2f2f3;
}
