.header {
  width: 1240px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.logo {
  justify-self: center;
}

.cell {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.link {
  color: #8585ad;
  text-decoration: none;
}

.active {
  color: #f2f2f3;
}

.rightnav {
  justify-self: end;
}

.leftnav {
  justify-self: start;
}
